<div class="container-fluid mt-2 card-footer-gray">
    <footer class="border-top p-3 text-muted small">
        <div class="row">
            <div class="col-md-12">
                <a class="navbar-brand mr-2" href="{% url 'home' %}">
                    <p style="color: black;">
                        <b>YFinance Data</b>
                    </p>
                </a>
                <p>
                    Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>
                . All rights reserved.
                </p>
            </div>
        </div>
    </footer>
</div>