{% extends 'base.html' %}
{% load static %}
{% block title %} Available Records {% endblock %}
{% block body %}
    <div class="container mt-4 mb-4">
        <form action="{% url 'pull_data' %}" method="post">
            {% csrf_token %}
            <button type="submit">Pull New Data</button>
        </form>

        <!-- Button to push new data to database -->
        <!-- <form action="" method="post">
            {% csrf_token %}
            <button type="submit">Push New Data to Database</button>
        </form> -->

        <!-- Display stock data -->
        <!-- <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Adj Close</th>
                    <th>Volume</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                {% for data in stock_data %}
                <tr>
                    <td>{{ data.Date }}</td>
                    <td>{{ data.Open }}</td>
                    <td>{{ data.High }}</td>
                    <td>{{ data.Low }}</td>
                    <td>{{ data.Close }}</td>
                    <td>{{ data.AdjClose }}</td>
                    <td>{{ data.Volume }}</td>
                    <td>{{ data.Symbol }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
    </div>
{% endblock %}