{% extends 'base.html' %}
{% load static %}
{% block title %} Available Records {% endblock %}
{% block body %}
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md-12">
                <p>Use button below to pull new records and push data to database</p>
                <form action="{% url 'pull_data' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Pull New Data</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}